
@import url("https://fonts.googleapis.com/css?family=Pattaya&display=swap");

@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

$fa-font-path: "../fonts" !default;
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";


/* new styles */
.navbar, .breadcrumb {
  margin-top: 1rem;
}

html, body {
  background-color:  theme-color("light");
  color:  theme-color("dark");
}

/* login page css */
html.centerpage {
  &,
  body {
    height: 100%;
  }

  body {
    text-align: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    text-align: center;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: 30px;
  }

  .form-signin input[type="password"] {
    margin-bottom: 30px;
  }

  .form-signin button {
    width: 75%;
    margin: 0 auto;
  }

  h2, h1 {
    font-family: 'Pattaya', sans-serif;
    color: theme-color("primary");
  }
}


/* old styles */
ul#tree {
  background-color: $white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 0px solid #000000;
  margin-bottom: 3rem;
  padding: 1rem 0.3rem 1rem 1rem;

  [class*="fa-folder"] {
    color: red;
  }
  [class*="fa-file"] {
    color: green;
  }
}

ul#tree ul {
  padding: 0 0 0 22px;
  margin: 0;
  clear: both;
}

ul#tree li, ul#tree ul li {
  list-style: none;
  clear: both;
  padding: 0;
  margin: 0;
  height: auto;
  overflow-y: visible;
  line-height: 1em;
  a {
    text-decoration: none;
  }
}


ul#tree li span.toggle, ul#tree ul li span.toggle,
ul#tree li a.toggle, ul#tree ul li a.toggle {
  width: 16px;
  float: left;
  padding: 0.22em 0 0.5em 0;
}

ul#tree li i, ul#tree ul li i,
ul#tree li img, ul#tree ul li img {
  display: block;
  float: left;
}

ul#tree li i, ul#tree ul li i {
  padding: 0.2rem;
  font-size: 1.1rem;
  min-width: 2rem;
}

ul#tree li span.label, ul#tree ul li span.label {
  float: left;
  margin: 0;
  padding: 0.3rem 0 0 0;
}

ul#tree li.hidden {
  opacity: 0.5;
}


.hidden_sections {
  display: none;
}

.cms-actions {
  line-height: 2.2rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



fieldset input[type="radio"] {
  margin-right: 0.7rem;
}
/* BEGIN ANSIBLE MANAGED BLOCK blog.scss.j2 */


body, html {
  min-height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: theme-color("light");
  overflow-y: scroll;
}

.top {

}

footer {
  margin-top: 6rem;
  background-color: theme-color("dark");
  color: theme-color("light");
  font-size: 0.9rem;
  padding-bottom: 2rem;
}

footer .logo {
  height: 150px;
}

footer .logo h1 {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.53);
  display: inline;
  color: theme-color("light");
  text-transform: none;
  font-family: "Georgia", "times new roman", "serif";
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: -1px;
}

footer .logo h1 a {
  color: theme-color("light");
}

footer .logo-img {
  margin-right: 1rem;
  margin-left: 1rem;
  height: 75px;
}

footer .about {
  position: relative;
  left: 85px;
  top: -40px;
  width: 70%;
}


footer .separator-w {
  width: 100%;
  height: 1px;
  max-width: 1400px;
  opacity: .08;
  background-color: $white;
  margin-top: 10px;
  margin-bottom: 40px;
}

.separator-h {
  display: inline-block;
  height: 16px;
  opacity: .16;
  margin-left: 20px;
  margin-right: 20px;
  width: 2px;
  background-color: $white;
}

a:hover {
  text-decoration: none;
}

.nav-wrapper {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-outer {
  background-color: theme-color("secondary");
}
.nav-container {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  background-color: theme-color("secondary");
  color: $white;
  margin: 0;
  width: 100%;
  img {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}

.navbar-brand {
  margin-right: 0.5rem;
}

.nav-link {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  color: $white !important;
}

.content-outer {
  margin-top: 94px;
}

.content {
  padding-top: 1.2rem;
}

header {
  padding-top: 1.2rem;
}


header nav h2 a {
  padding-left: 1rem;
  padding-right: 1rem;
}


.card {
  padding: 0.3%;
  border: 0;
  border-radius: 0;
}

.card .card-img-top {
  border-radius: 0;
  height: 300px;
  object-fit: cover;
}

.card .card-body {
  background-color: theme-color("secondary");
}

.card h5 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 1.5rem;
}

.card a h5, .card a p {
  color: theme-color("dark");
}

#home .card .card-img-top {
  height: 600px;
}


.pagination {
  height: 64px !important;
  margin: 0;

}

.pagination .page-item a {
  border: 0;
  border-radius: 0!important;
}

#blog .pagination .page-item a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.2rem;
}

#cart {
  overflow-x: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rss a i {
  display: inline-block;
  background-color: theme-color("accent1");
  font-size: 3rem;
  border-radius: 5px;
  padding: 0 4px;
  color: $white;
  margin-bottom: 2rem;
}



#home .starter-template,
#store .starter-template,
#user .starter-template {
  padding: 15px 15px;
  text-align: left;
}


h1 {
  font-family: "Archivo Narrow", sans-serif;
  color: theme-color("accent2");
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
  line-height: 0.8em;
}

h1 a {
  color: theme-color("accent2");
}

h1.active a, h1.active a:hover {
  color: theme-color("accent2");
}

h1 a:hover {
  color: theme-color("primary");
  text-decoration: none;
}

form .error {
  display: none;
}


body nav h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 1.2rem;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 3rem;
  }
}



#blog h2 {
  margin-top: 3rem;
}

ol, ul {
  list-style: none;
}

.blog-header .blog-title a {
  color: theme-color("dark");
  text-decoration: none;
}

#logo {
  float: right;
}

.tag {
  margin: 0 1% 0 0;
}
.tag .label-default {
  background-color: $light;
}
.tag a {
  color: #fff;
  text-decoration: none;
}
.tag a:hover {
  text-decoration: underline;
}
.entry_meta .sep {
  color: theme-color("secondary");
}



/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: theme-color("accent1");
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: $light;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: $white;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: $white;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: $light;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module-inset {
  padding: 15px;
  background-color: $light;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-module {
  margin-top: 2rem;
}

.sidebar-module .fa {
  width: 1rem;
}

.blog-sidebar .sidebar-module:first-child {
  margin-top: 0;
}

#archive ul {
  margin-left: 1rem;
  padding-left: 0;
}

#categories ul li a, #archive ul li a {
  color: theme-color("accent1");
}


.blog-post .badge a {
  text-decoration: none;
}

.blog-post .content {
  margin-top: 2rem;
  margin-bottom: 3rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post h2 a {
  color: theme-color("dark");
}

.blog-post .content a {
  font-weight: bold;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
/* END ANSIBLE MANAGED BLOCK blog.scss.j2 */
